<<<<<<< HEAD
app-pokemons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
=======
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
>>>>>>> uichanges
}

.pokemon-container app-pokemons{
  width: 90%;
}
