<!-- <div class="pokemon-grid">
  <app-pokemon *ngFor="let pokemon of pokemons; index as i" [pokemon]="pokemon"></app-pokemon>
</div> -->

<!-- <div>Hola mundo</div> -->

<!--  -->
<!--  -->
<!-- <input  type="text" [(ngModel)]='contador' (ngModelChange)='filterName()'> -->
<main class="pokemon-grid" infiniteScroll
      [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">
  <app-pokemon *ngFor="let pokemon of pokemons; index as i" [pokemon]="pokemon"></app-pokemon>
</main>

<figure *ngIf="loading" class="pokeball-container">
  <img src="assets/pokeball.png" alt="Pokeball">
</figure>
